*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f5f7fb;
    font-family:Inter,sans-serif;
}

.dashboard-layout{
    display:flex;
    min-height:100vh;
}

.dashboard-main{

    margin-left:240px;

    width:calc(100% - 240px);

    min-height:100vh;

    display:flex;

    flex-direction:column;

    transition:.3s;

}

.dashboard-main.collapsed{

    margin-left:72px;

    width:calc(100% - 72px);

}

.dashboard-content{

    flex:1;

    padding:30px;

}